body{
background-color: gray;
}
.frame{
	background-color: rgba(0,0,0,0);
	text-align: center;
}
.frame tr td{
	border:1px;
	border-style: ridge;
	background-color: white;
	border-color: rgb(200,200,200);
	border-radius: 2px;
}

.frame2 tr td{
	border:0px;
	
}

.btn_1{
	font-size:16px;	
	margin:10;
}

.pol1{
	position: relative; 
	width:auto; 
	height:100%; 
	padding: 5%; 
}

.pol2{
	border: 1px solid rgb(200,200,200);
}

.zaddiv{
	position: relative; 
	width: 65%; 
	height:15%; 
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 15%; 
	margin-top: 4%;
	text-align: center;
	border: 1px solid;
}

.box1{
	position: relative; 
	float:left;
	padding-left: 30px;
}

.box1 tr td{
	padding: 8px;
}

.box2{

}

.box2 tr td{
	border:1px;
	border-style: ridge;
	border-color: rgb(200,200,200);
	border-radius: 2px;
	padding: 8px;
}

.box1choice{
	position: absolute; 
	margin-left: 30px;
	left: 0px;
    top: 0px;
	width: 60px;
	height: 60px;
	background-color: #ffffff;
    color: #ffffff;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	opacity: 0.0;
    filter: alpha(opacity=0);
}


.box1choice:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}